.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  color: $grey-44;
  background-color: $grey-f2;
  text-decoration: none;
}

.copyright__icon {
  display: grid;
  place-items: center;
  color: $grey-66;
  // margin-left: 8px;
}

.copyright__link:hover .copyright__icon {
  color: $green-main;
}

.copyright__link:focus .copyright__icon {
  opacity: 0.7;
  outline: none;
}

.copyright__link:active .copyright__icon {
  opacity: 0.3;
}
