.page {
  box-sizing: border-box;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $grey-44;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
