.title {
  @include margin-zeroing;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: $black;
}

.title--h1 {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--h2 {
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.title--h4 {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

/*
.title__centering {
  @include block-centering-mobile;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
  }
}
*/
