.catalog {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 52px;
  }
}

.catalog__sections {
  @include list-zeroing;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__section {
  background-color: $grey-f2;

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 30px;
  }
}

.catalog__section:not(:first-child) {
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.catalog__section-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 20px 22px 22px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 53px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 51px;
  }
}

.catalog__section-container::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $green-main;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 90px;
    right: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.catalog__section-container::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.catalog__section .title--h2 {
  padding-top: 5px;
  padding-left: 70px;
  line-height: 37px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 48px;
    padding-left: 162px;
  }
}

.catalog__section-container--slimming::after {
  top: 21px;
  left: 29px;
  width: 36px;
  height: 50px;
  background-image: url("../../img/icons/catalog-sections/icon-slimming.svg");

  @media (min-width: $tablet-width) {
    top: 154px;
    left: 530px;
    transform: scale(3.88);
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 85px;
    transform: scale(1.94);
  }
}

.catalog__section-container--mass-gain::after {
  top: 36px;
  left: 11px;
  width: 67px;
  height: 28px;
  background-image: url("../../img/icons/catalog-sections/icon-mass-gain.svg");

  @media (min-width: $tablet-width) {
    top: 178px;
    left: 510px;
    transform: scale(4);
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    left: 67px;
    transform: scale(2);
  }
}


.catalog__section-description {
  position: relative;
  padding: 29px 0 23px 0;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }
}

.catalog__section-description::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $grey-d9;

  @media (min-width: $tablet-width) {
    content: none;
  }
}

.catalog__section-link {
  position: relative;
  display: block;
  padding-top: 20px;
  font-family: "Oswald", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
  }
}

.catalog__section-link:focus {
  outline: none;
  opacity: 0.5;
}

.catalog__section-link:active {
  opacity: 0.3;
}

.catalog__section-link::before {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 99px;
  width: 18px;
  height: 2px;
  background-color: $black;

  @media (min-width: $tablet-width) {
    bottom: 13px;
    left: 132px;
  }
}

.catalog__section-link:hover::before {
  width: 26px;
  transition: transform 3s ease-out;
}

.catalog__section-link::after {
  position: absolute;
  content: "";
  bottom: 3px;
  left: 117px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent $black;

  @media (min-width: $tablet-width) {
    left: 149px;
    bottom: 9px;
  }
}

.catalog__section-link:hover::after {
  left: 125px;
  transition: transform 3s ease-out;

  @media (min-width: $tablet-width) {
    left: 158px;
  }
}
