.example {
  background-color: $grey-ea;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  // @media (min-width: $desktop-width) {
  //   background-color: $grey-f2;
  // }
}

.example__wrapper {
  @include block-centering-mobile;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0;
  }
}

.example .title {
  padding: 25px 0 40px 0;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    padding: 43px 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    padding: 0 0 76px 0;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    background-color: $grey-f2;
  }
}

.example__content-container {
  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.example__text {
  @media (min-width: $desktop-width) {
    width: 36%;
    padding: 70px 0 75px 0;
  }
}

.example__description {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.example-parametrs {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    // justify-content: space-between;
    align-items: start;
    padding-bottom: 0;
  }
}

.example-parametrs__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    // justify-content: space-between;
    // width: 366px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 35px;
  }
}

.example-parametrs__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 44%;
  padding: 15px 19px 10px 19px;
  border: 1px solid $grey-cd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }
}

.example-parametrs__name {
  position: absolute;
  content: "";
  bottom: -10px;
  order: 2;
  width: 87px;
  // margin: 0 10px;
  // padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  background-color: $grey-ea;
  text-align: center;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    bottom: -7px;
    width: 114px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-f2;
  }
}

.example-parametrs__name br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.example-parametrs__name--time {
  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.example-parametrs__value {
  @include margin-zeroing;
  margin-left: 0;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__sum {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    // width: 174px;
    width: 25%;
    text-align: right;
    // padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.example__sum-text {
  @media (min-width: $desktop-width) {
    padding-right: 63px;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    width: 46%;
  }
}
