.map {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.map--inner {
  background-color: $grey-f2;
}

.map__content {
  @include block-centering-mobile;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 26px 0;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
    padding: 60px 40px 56px 40px;
  }

  @media (min-width: $desktop-width) {
    // @include block-centering-desktop;
    position: absolute;
    top: 95px;
    left: 110px;
    width: 565px;
    margin: 0;
    padding: 60px 80px 56px 80px;
    background-color: $white;
  }
}

.map__item {
  width: 139px;
}

.map__address {
  font-style: normal;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 156px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

// .map__address--street {
//   padding-bottom: 10px;
// }

.map iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: none;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
