.program__description {
  padding-bottom: 39px;
  font-family: "Oswald", "Verdana", sans-serif;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
  }
}
