.catalog__section-container--slimming::after {
  top: 30px;
  left: 30px;
  width: 36px;
  height: 50px;
  background-image: url("../../img/icons/catalog-sections/icon-slimming.svg");

  @media (min-width: $tablet-width) {
    top: 150px;
    left: 530px;
    transform: scale(3.88);
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 85px;
    transform: scale(1.94);
  }
}
