.header {
  text-transform: uppercase;
  height: 52px;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    height: 59px;
    margin-top: 53px;
    margin-bottom: 29px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 191px;
  height: 38px;
  margin-top: 13px;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 17px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.header__logo-image {
  display: block;
  width: 100%;
}

.header__logo-title {
  padding-top: 7px;

  @media (min-width: $desktop-width) {
    width: 118px;
  }
}
