.header {
  text-transform: uppercase;
  height: 55px;

  @media (min-width: $tablet-width) {
    @include block-centering-tablet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 26px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    @include block-centering-desktop;
    margin-top: 53px;
    margin-bottom: 29px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
//   position: absolute;
  width: 191px;
  height: 38px;
  margin-top: 10px;
  margin-left: 20px;
//   left: 20%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    // z-index: 3;
    // left: 290px;
    width: 174px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    // left: 507px;
    width: 202px;
  }
}

// .header__image {
//   display: block;
// }
