.site-list__item {
  text-align: center;
  background-color: $white;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-list__link {
  font-family: "Oswald", "Verdana", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: $black;
  background-color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $white;
    background-color: transparent;
  }
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:focus {
  opacity: 0.4;
  outline: none;
}

.site-list__link:active {
  opacity: 0.3;
}

.site-list__link--active {
  text-decoration: underline;
  text-decoration-color: $green-main;
  text-decoration-thickness: 2px;
  text-underline-offset: 14px;

  @media (min-width: $desktop-width) {
    text-decoration-color: $white;
  }
}

.site-list--inner .site-list__link {
  @media (min-width: $desktop-width) {
    color: $black;
    background-color: transparent;
  }
}

.site-list--inner .site-list__link--active {
  @media (min-width: $desktop-width) {
    text-decoration-color: $green-main;
  }
}
